<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
        <meta name="viewport" content="width=device-width,
                initial-scale=1,maximum-scale=1.0"/>

        <title>Your application</title>
        <meta name="description" content />

        <link rel="author" href="" />
        <link rel="canonical" href="">
        <meta property="og:title" content=""/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content=""/>
        <meta property="og:site_name" content=""/>
        <meta property="og:description" content=""/>
        <meta property="og:image" content="" />
        <meta name="twitter:card" content=""/>
        <meta name="twitter:site" content="" />
        <meta name="twitter:domain" content="" />
        <meta name="twitter:title" content="" />
        <meta name="twitter:description" content="" />
        <meta name="twitter:image" content="" />

        <link rel='dns-prefetch' href='//fonts.googleapis.com' />
        <link rel='dns-prefetch' href='//s.w.org' />

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Materialize CSS -->
        <link th:href="@{/webjars/materializecss/0.97.0/css/materialize.css}"
              rel="stylesheet">

        <!-- Custom CSS -->
        <link th:href="@{/css/custom.css}" rel="stylesheet">

        <!-- favicon -->
        <link th:href="@{/img/favicon.ico}" rel="icon">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <th:block th:replace="layout/partials/header"></th:block>

        <section layout:fragment="content">
            <p>Page content goes here</p>
        </section>

        <th:block th:replace="layout/partials/footer"></th:block>

        <script type="text/javascript" src="/webjars/jquery/2.1.4/jquery.js"></script>
        <script type="text/javascript" src="/webjars/materializecss/0.97.0/js/materialize.js"></script>

        <!-- Materialize dropdown menu -->
        <script type="text/javascript">
            (document).ready(function(){
                $(".dropdown-button").dropdown();
            });
        </script>

        <!-- Custom CSS -->
        <script type="text/javascript" th:src="@{/js/custom.js}"></script>

    </body>
</html>