<!-- Dropdown Structure -->
<ul id="tools-dropdown" class="dropdown-content">
    <li><a href="#!">Artifact tracker</a></li>
    <li><a href="#!">Gradle converter</a></li>
    <li><a href="#!">three</a></li>
</ul>

<!-- Languages -->
<ul id="lang-dropdown" class="dropdown-content">
    <li><a href="?lang=en_US">English</a></li>
    <li><a href="?lang=fr">French</a></li>
</ul>

<!-- Navigation bar -->
<nav role="navigation" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="nav-wrapper brown lighten-4 text brown-text">
        <a href="#" class="brand-logo">
            <img src="../../../static/img/favicon-32x32.png"
                 th:attr="src=@{/img/favicon-32x32.png},title=#{logo},alt=#{logo}">
            <span class="text brown-text">the barista.io</span>
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="courses.html">Courses</a></li>
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-button" href="#!" data-activates="tools-dropdown">Tools
                <i class="material-icons right">arrow_drop_down</i></a>
            </li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="#">Signup</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Logout</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="lang-dropdown">
                <i class="mdi-action-language right"></i>Lang</a>
            </li>
        </ul>
    </div>
</nav>